*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;   
}

.headerContainer{
    max-width: 900px;
    margin: 40px auto;  
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
    gap: 40px; /* espaço entre os itens */
}

.container .leftSide,
.container .rightSide {
    flex: 1; /* dividem o espaço igualmente */
    margin: 0; /* remove margens extras */
}


.container .leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3A4B5C;
}

.container .leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.container .leftSide input {
    width: 100%;
    height: 15%;
    border: 2px solid #E6E6E6;
    border-radius: 20px;
    outline: 0;
    font-size: 18px;
    padding: 0 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

.container .leftSide input:disabled {
    background-color: #F0F0F0;
    opacity: 0.7;
}
.container .leftSide button {
    background-color: #227C9D;
    color: #fff;
    font-size: 1.2rem;
    border: 0;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.3s ease;
}

.container .leftSide button:hover {
    color: #227C9D;
    background-color: #fff;
    font-size: 1.3rem;
}

.container .leftSide button:disabled {
       opacity: 0.7;
}

.container .rightSide{
    display: flex;
}

.container .rightSide .grid{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.container .rightSide .rightBig{
    flex: 1;
    display: flex;
}

.container .rightSide .rightArrow{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #227;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: -35px;
    margin-top: 135px;
}   

@media (max-width: 900px) {
    header{
        padding: 0 20px;
    }
    .container .leftSide input {
        height: 3rem;
        border-radius: 12px;
    }
    .container {
        padding: 0 20px;
        flex-direction: column;
    }
    .constainer .leftSide{
        margin-right: 0;
    }
    .constainer .rigthSide{
        margin-left: 0;
    }
    .container .rightSide .rightArrow{
      margin-left: 0;
      margin-top: 0;
      border-radius: 10px;
    }    
}

@media (max-width: 430px) {
    .container .rightSide .grid{
        grid-template-columns: 1fr;
    }
}
    
